.topbar {
    display: flex;
    padding: 0px;
    background-color: rgba(55, 55, 55, 0.15);
}

.home-button {
    display: flex;
    align-items: center;
    gap: 5px;

    text-decoration: none;
    color: white;

    padding: 10px 16px;
    border-radius: 12px;

    font-family: "Inter", sans-serif;
    font-weight: 300;
}

.home-logo {
    width: 32px;
}

body {
    margin: 0px;
    margin-top: 0px;
    background: linear-gradient(
        to right,
        #141414 0%,
        #111111 25%,
        #000000 50%,
        #111111 85%,
        #141414 100%
    );

    color: white;
    text-align: center;
}

.vexorid-main {
    margin-top: 100px;
    width: 256px;
}

.subtitle {
    font-family: "Inter", sans-serif;
    margin-top: 2px;
    font-weight: 300;
    font-size: 18px;
}

.inter-main {
    font-family: "Inter", sans-serif;
    margin-top: 10px;
    font-weight: 200;
    font-size: 70px;
}

.pillars {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    padding: 0 20px;
}

.box {
    width: 400px;

    padding: 25px;

    border-radius: 35px;

    background-color: rgba(55, 55, 55, 0.2);

    font-family: "Inter", sans-serif;
}

.title-info {
    font-weight: 450;
    font-size: 35px;
    margin-bottom: 12px;
}

.text-info {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 10px;
}
