.logo {
    margin-top: 0px;
    margin-bottom: -50px;
    width: 400px;
}

.subtitle {
    margin-bottom: 65px;
}

.ss-hub {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 25px;
    opacity: 0.6;
    transition: opacity 0.2s ease;
    text-decoration: none;
    color: white;
}

.ss-hub:hover {
    opacity: 1;
}

body {
    padding-bottom: 100px;
}
